* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 20px;
  background-image: url("../images/Artboard_vin.jpg");
  background-size: cover;
  background-position: inherit;
  background-attachment: scroll;
  background-repeat: no-repeat;
  color: white; }

a:hover {
  color: #952641; }

.h {
  height: 40px;
  width: 40px;
  float: right; }

.v {
  height: 40px;
  width: 40px;
  float: left; }

.dropbtn {
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #952641;
  color: white;
  z-index: 200; }

.dropdown {
  text-align: center;
  width: 25%;
  position: relative;
  display: inline-block;
  z-index: 200; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #952641;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: 'Nunito', sans-serif; }

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

.dropdown-content a:hover {
  background: white;
  color: #952641; }

.dropdown:hover .dropdown-content {
  display: block; }

.menu_web {
  display: none; }

.lillelogo {
  display: none; }

.logostreg {
  height: 63%;
  width: 63%;
  margin: 0 auto;
  margin-top: 10px; }

.content {
  height: auto;
  width: 100%;
  display: -webkit-flex; }

.omos {
  position: relative;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 140px; }

.omosoverskrift {
  position: relative;
  width: 95%;
  color: white;
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  align-content: space-between; }

.omostekst {
  position: relative;
  width: auto;
  height: 50%;
  font-family: 'Nunito', sans-serif;
  font-size: 11px;
  padding: 10px; }

.mennesker {
  display: none; }

.menneske1 {
  height: auto;
  width: 25%;
  text-align: center;
  margin: 5px; }

.menneske2 {
  height: auto;
  width: 25%;
  text-align: center;
  margin: 5px; }

.menneske3 {
  height: auto;
  width: 25%;
  text-align: center;
  margin: 5px; }

.forhandler {
  height: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-top: 80px; }

.forhandleroverskrift {
  position: relative;
  width: auto;
  color: white;
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
  text-align: center;
  padding: 10px; }

.forhandlertekst {
  position: relative;
  width: auto;
  height: 50%;
  font-family: 'Nunito', sans-serif;
  font-size: 11px;
  padding: 10px;
  text-align: left;
  color: white; }

.forhandlercontain {
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.knap {
  background-color: #952641;
  color: white;
  border: #952641; }

.gallericontain {
  text-align: center;
  background-color: #952641;
  height: 250px;
  width: auto;
  margin-top: 25px; }

.kontaktcontain {
  margin-top: 100px;
  text-align: center; }

.kontaktinfo {
  margin-top: 20px; }

.danmark {
  margin-top: 15px;
  text-align: left;
  margin-left: 10px; }

.spanien {
  margin-top: 10px;
  text-align: right; }

.logopng {
  display: none; }

.gallericontain2 {
  width: 100%;
  text-align: center;
  margin-top: 50px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  color: white; }

h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
  color: white; }

p {
  color: white;
  font-size: 12px;
  font-family: 'Nunito', sans-serif; }

.op {
  border-radius: 50%;
  background-color: #952641;
  color: white;
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 20px;
  border: none;
  float: right; }

.some {
  background-color: #952641;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  border: none;
  font-family: "Nunito", sans-serif; }

.foooter {
  height: auto;
  width: 100%;
  margin-top: 20px; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-position: inside; }

li {
  margin: 0; }

p {
  margin: 0;
  padding: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
  display: block; }

.slider-wrapper {
  width: 80%;
  margin: 100px auto; }

.clear {
  clear: both; }

.nivoSlider {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden; }

.nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: none; }

.nivo-main-image {
  display: block !important;
  position: relative !important;
  width: 100% !important; }

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 6;
  display: none;
  filter: alpha(opacity=0);
  opacity: 0; }

/* The slices and boxes in the Slider */
.nivo-slice {
  display: block;
  position: absolute;
  z-index: 5;
  height: 100%;
  top: 0; }

.nivo-box {
  display: block;
  position: absolute;
  z-index: 5;
  overflow: hidden; }

.nivo-box img {
  display: block; }

/* Caption styles */
.nivo-caption {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #000;
  color: #fff;
  width: 100%;
  z-index: 8;
  padding: 5px 10px;
  opacity: 0.8;
  overflow: hidden;
  display: none;
  -moz-opacity: 0.8;
  filter: alpha(opacity=8);
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

.nivo-caption p {
  padding: 5px;
  margin: 0; }

.nivo-caption a {
  display: inline !important; }

.nivo-html-caption {
  display: none; }

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
  position: absolute;
  top: 45%;
  z-index: 9;
  cursor: pointer; }

.nivo-prevNav {
  left: 0px; }

.nivo-nextNav {
  right: 0px; }

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
  text-align: center;
  padding: 15px 0; }

.nivo-controlNav a {
  cursor: pointer; }

.nivo-controlNav a.active {
  font-weight: bold; }

@media screen and (min-width: 1200px) {
  body {
    margin-left: 100px;
    margin-right: 100px; }

  .h {
    height: 55px;
    width: 55px;
    float: right; }

  .v {
    height: 55px;
    width: 55px;
    float: left; }

  .lillelogo {
    display: block; }

  .logostreg {
    margin-top: 100px;
    margin-left: 20px; }

  .header {
    justify-content: space-between;
    display: flex; }

  .menu_web {
    display: block;
    font-family: "Nunito", sans-serif; }

  .dropdown {
    display: none; }

  a {
    color: white;
    text-decoration: none;
    font-size: 15px; }

  .content {
    margin-top: 300px; }

  .omos {
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 30px;
    margin-top: 100px;
    justify-content: space-between; }

  .mennesker {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 150px;
    height: auto;
    width: 250%;
    margin-right: -30px;
    margin-left: 30px; }

  .menneske1 {
    height: auto; }

  .menneske2 {
    height: auto; }

  .menneske3 {
    height: auto; }

  .menneske1 {
    display: block; }

  .menneske2 {
    display: block; }

  .menneske3 {
    display: block; }

  .forhandleroverskrift {
    width: 50%;
    margin: 0 auto; }

  .forhandler {
    margin-top: 350px; }

  .forhandlertekst {
    width: 33%;
    margin: 0 auto;
    margin-top: 5px; }

  .gallericontain {
    margin-top: 300px;
    height: 500px; }

  .gallericontain2 {
    width: 50%;
    margin: 0 auto;
    margin-top: 100px; }

  .knap {
    padding: 8px;
    margin-top: 30px; }

  .op {
    display: block; }

  .kontaktinfo {
    justify-content: space-between;
    margin-top: 100px; }

  h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    color: white; }

  h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: white; }

  p {
    color: white;
    font-size: 15px;
    font-family: 'Nunito', sans-serif; }

  .logopng {
    display: block;
    height: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto; }

  .some {
    display: none; } }

/*# sourceMappingURL=styles%20.css.map */
