@charset "utf-8"; // Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 20px; // Ingen kanter i siden af browser
  background-image: url("../images/Artboard_vin.jpg");
  background-size: cover;
  background-position: inherit;
  background-attachment: scroll;
  background-repeat: no-repeat;
  color: white;
}

a:hover{
  color: white;
  background-color: #952641;
}

img{

}
.læsmeretekst{
  width: auto;
  height: auto;
  
}
.allemennesker{
  margin-top: 130px;
}

.element1{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;

}
.element2{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.element3{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
}


.læsmere{
  background-color: #952641;
  border: #952641;
  margin-top: auto;
  width: auto;
  height: auto;
  
}

.billede1{
  clear: right;
}

.omosknap{
  background-color: #952641;
  border: #952641;
  display: none;
}
.galleriknap{
  background-color: #952641;
  border: #952641;
  display: none;

}

.h{
  height: 40px;
  width: 40px;
  float: right;
}

.v{
  height: 40px;
  width: 40px;
  float: left;
}

.dropbtn {
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #952641;
  color: white;
  z-index: 200;
}

.dropdown {
  text-align: center;
  width: 25%;
  position: relative;
  display: inline-block;
  z-index:200;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #952641;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'Nunito', sans-serif;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background: white;
  color: #952641;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu_web {
  display: none;
}

.lillelogo{
  display: none;
}

.logostreg{
  height: 100%;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}

.content{
  height: auto;
  width: 100%;
  display: -webkit-flex;
}

.omos{
  position: relative;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 120px;
}

.omosoverskrift{
  position: relative;
  width: 95%;
  color: white;
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  align-content: space-between;
}


.omostekst{
  position: relative;
  width: auto;
  height: 50%;
  font-family: 'Nunito', sans-serif;
  font-size: 11px;
  padding: 10px;
  text-align: justify;
}


.mennesker{
  display: none;
}

.menneske1{
  height: auto;
  width: 25%;
  text-align: center;
  margin: 5px;
}

.menneske2{
  height: auto;
  width: 25%;
  text-align: center;
  margin: 5px;
}

.menneske3{
  height: auto;
  width: 25%;
  text-align: center;
  margin: 5px;
}

.forhandler{
  height: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-top: 80px;


}

.forhandleroverskrift{
  position: relative;
  width: auto;
  color: white;
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
  text-align: center;
  padding: 10px;

}

.forhandlertekst{
  position: relative;
  width: auto;
  height: 50%;
  font-family: 'Nunito', sans-serif;
  font-size: 11px;
  padding: 10px;
  text-align: left;
  color: white;
  text-align: justify;
}

$red: #952641;
$lightblue: #45526b;
$darkblue: #262d3b;
$white: #ffffff;


.forhandlercontain{
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.knap{
  background-color: #952641;
  color: white;
  border: #952641;
}


.omsosknap{
  background-color: $red;
}

.kontaktcontain{
  margin-top: 100px;
  text-align: center;
}


.kontaktinfo{
  margin-top: 20px;
}

.danmark{
  margin-top: 15px;
  text-align: left;
  margin-left: 10px;

}

.spanien{
  margin-top: 10px;
  text-align: right;
}

.logopng{
  display: none;
}

.gallericontain2{
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.gallerioverskrift2{
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

h1{
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  color: white;
}

h2{
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
  color: white;
}

p{
  color: white;
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
}

.some{
  background-color: $red;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  border: none;
  font-family: 'Nunito', sans-serif;

}

.foooter{
  height: auto;
  width: 100%;
  margin-top: 20px;

}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

//Start nivoslider

table {
  border-collapse:separate;
  border-spacing:0;
}
caption, th, td {
  text-align:left;
  font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content:"";
}
blockquote, q {
  quotes:"" "";
}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
  display: block;
}

.slider-wrapper {
  width: 100%;
  margin: 100px auto;
}

.clear {
  clear:both;
}

.nivoSlider {
  position:relative;
  width:100%;
  height:auto;
  overflow: hidden;
}
.nivoSlider img {
  position:absolute;
  top:0px;
  left:0px;
  max-width: none;
}
.nivo-main-image {
  display: block !important;
  position: relative !important;
  width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  border:0;
  padding:0;
  margin:0;
  z-index:6;
  display:none;
  filter:alpha(opacity=0);
  opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
  display:block;
  position:absolute;
  z-index:5;
  height:100%;
  top:0;
}
.nivo-box {
  display:block;
  position:absolute;
  z-index:5;
  overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
  position:absolute;
  left:0px;
  bottom:0px;
  background:#000;
  color:#fff;
  width:100%;
  z-index:8;
  padding: 5px 10px;
  opacity: 0.8;
  overflow: hidden;
  display: none;
  -moz-opacity: 0.8;
  filter:alpha(opacity=8);
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
  padding:5px;
  margin:0;
}
.nivo-caption a {
  display:inline !important;
}
.nivo-html-caption {
  display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
  position:absolute;
  top:45%;
  z-index:9;
  cursor:pointer;
}
.nivo-prevNav {
  left:0px;
  background-color: #952641;
}
.nivo-nextNav {
  right:0px;
  background-color: #952641;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
  text-align:center;
  padding: 15px 0;
}
.nivo-controlNav a {
  cursor:pointer;
}
.nivo-controlNav a.active {
  font-weight:bold;
}

// Slut nivoslider

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #962842;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: #962842;
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående

}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
  body{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
  }

  .h{
    height: 55px;
    width: 55px;
    float: right;
  }

  .v{
    height: 55px;
    width: 55px;
    float: left;
  }


  .lillelogo {
    display: block;
    height: auto;
    width: 50%;
  }

  .logostreg{
    margin-top: 150px;
    margin-left: 20px;
    height: 65%;
    width: 63%;
  }

  .header {
    justify-content: space-between;
    display: flex;
    position: fixed;
    left: 20px;
    top: 20px;
    right: 20px;
    width: 98%;
    z-index: 5000;
    text-shadow: 2px 2px 4px #000000;
  }

  .menu_web {
    display: block;
    font-family: 'Nunito', sans-serif

  }

  .dropdown {
    display: none;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 15px;
  }


  .content{
    margin-top: 300px;

  }

  .omos {
    flex-wrap: wrap;
    flex-direction: row;
    _margin-right: 30px;
    margin-top: 100px;
    justify-content: space-between;


  }

  .mennesker {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 150px;
    height: auto;
    width: 250%;
    margin-right: -150px;
    margin-left: 30px;


  }

  .menneske1{
    height: auto;
    display: block;
  }

  .menneske2{
    height: auto;
    display: block;

  }
  .menneske3{
    height: auto;
    display: block;
  }


  .forhandleroverskrift{
    width: 50%;
    margin: 0 auto;
  }

  .forhandler{
    margin-top: 350px;
  }

  .forhandlertekst{
    width: 33%;
    margin:  0 auto;
    margin-top: 5px;
  }


.gallerioverskrift{
  width: 50%;
  margin: 0 auto;
}

.galleriknap{
  background-color: $red;
  border: $red;
  margin:0 auto;
  display: none;
}

  .omosknap{
    background-color: $red;
    border: $red;
    margin: 0 auto;
  }


  .gallericontain2{
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
  }

  .knap{
    padding: 8px;
    margin-top: 30px;
    background-color: $red;

  }


  .kontaktinfo{
    justify-content: space-between;
    margin-top: 100px;
  }

.kontaktcontain{
  width: 50%;
  margin: 0 auto;
  margin-top: 300px;
}

  h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    color: white;


  }

  h2{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: white;

  }

  p{
    color: white;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;

  }

  .logopng{
    display: block;
    height: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }


}

@media print {
  // Alt der gælder for print specifikt
}