// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 35px; // Ingen kanter i siden af browser

  background-image: url("../images/Artboard_vin.jpg");
  background-size: cover;
  background-position: inherit;
  background-attachment: scroll;
  background-repeat: no-repeat;

}

img{

}
.læsmeretekst{
  width: auto;
  height: auto;
  
}
.allemennesker{
  margin-top: 130px;
}

.element1{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;

}
.element2{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.element3{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
}


.læsmere{
  background-color: #952641;
  border: #952641;
  margin-top: auto;
  width: auto;
  height: auto;
  
}

.billede1{
  clear: right;
}

.omosknap{
  background-color: #952641;
  border: #952641;
  display: none;
}
.galleriknap{
  background-color: #952641;
  border: #952641;
  display: none;

}
.h{
  height: 40px;
  width: 40px;
  float: right;
}

.v{
  height: 40px;
  width: 40px;
  float: left;
}

.dropbtn {
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #952641;
  color: white;
}

.dropdown {
  text-align: center;
  width: 25%;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #952641;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background: white;
  color: #952641;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu_web {
  display: none;
}

.lillelogo{
 display: none;
}

.logostreg{
  height: 63%;
  width: 63%;
  margin: 0 auto;
  margin-top: 10px;
}

  .content{
    height: auto;
    width: 100%;
    display: -webkit-flex;
  }

  .omos{
    position: relative;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 140px;
  }

  .omosoverskrift{
    position: relative;
    width: 95%;
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    align-content: space-between;

  }



  .omostekst{
    position: relative;
    width: auto;
    height: 50%;
    font-family: 'Nunito', sans-serif;
    font-size: 11px;
    padding: 10px;
  }

.mennesker{
  display: none;
}

.menneske1{
  height: auto;
  width: 25%;
  text-align: center;
  margin: 5px;
}

.menneske2{
  height: auto;
  width: 25%;
  text-align: center;
  margin: 5px;
}

.menneske3{
  height: auto;
  width: 25%;
  text-align: center;
  margin: 5px;
}

.forhandler{
  height: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-top: 95px;

  
}

 .forhandleroverskrift{
   position: relative;
   width: auto;
   color: white;
   font-family: 'Libre Baskerville', serif;
   font-size: 30px;
   text-align: center;
   padding: 10px;

 }

 .forhandlertekst{
   position: relative;
   width: auto;
   height: 50%;
   font-family: 'Nunito', sans-serif;
   font-size: 11px;
   padding: 10px;
   text-align: left;
 }

  $red: #952641;
  $lightblue: #45526b;
  $darkblue: #262d3b;
  $white: #ffffff;


.forhandlercontain{
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.knap{
  background-color: #952641;
  color: white;
  border: #952641;
}

.gallericontain{
  text-align: center;
  background-color: $red;
  height: 250px;
  width: auto;
  margin-top: 25px;
}

.omsosknap{
  background-color: $red;
}

.kontaktcontain{
  margin-top: 60px;
  text-align: center;
}


.kontaktinfo{
  margin-top: 20px;
}

.danmark{
  margin-top: 15px;
  text-align: left;
  margin-left: 10px;

}

.spanien{
  margin-top: 10px;
  text-align: right;
}

.logopng{
  display: none;
}



h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

h1{
  font-family: 'Libre Baskerville', serif;
  font-size: 15px;
  color: white;


}

h2{
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
  color: white;

}

p{
  color: white;
  font-size: 10px;
  font-family: 'Nunito', sans-serif;

}


.op{
  border-radius: 50%;
  background-color: $red;
  color: white;
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 20px;
  border: none;
  float: right;
}
.some{
  background-color: $red;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  border: none;
  font-family: Lato;
  display: none;



}

.foooter{
  height: auto;
  width: 100%;
  margin-top: 20px;

}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil


}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
  body{
    margin-left: 100px;
    margin-right: 100px;
  }

  .h{
    height: 55px;
    width: 55px;
    float: right;
  }

  .v{
    height: 55px;
    width: 55px;
    float: left;
  }


  .lillelogo {
    display: block;
  }

  .logostreg{
    margin-top: 100px;
    margin-left: 20px;
  }

  .header {
    justify-content: space-between;
    display: flex;
  }


  .menu_web {
    display: block;
    font-family: 'Nunito', sans-serif;

  }

  .dropdown {
    display: none;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 15px;
  }

  .content{
    margin-top: 300px;

  }

  .omos {
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 30px;
    margin-top: 100px;
    justify-content: space-between;


  }

  .mennesker {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 150px;
    height: auto;
    width: 250%;
    margin-right: -30px;
    margin-left: 30px;


  }

  .menneske1{
    height: auto;

  }

  .menneske2{
    height: auto;


  }
  .menneske3{
       height: auto;

  }


  .menneske1 {
    display: block;
  }

  .menneske2 {
    display: block;
  }

  .menneske3 {
    display: block;
  }

  .forhandleroverskrift{
    width: 50%;
    margin: 0 auto;
  }

  .forhandler{
    margin-top: 350px;
  }

  .forhandlertekst{
    width: 33%;
    margin:  0 auto;
    margin-top: 5px;
  }

  .gallericontain{
    margin-top: 400px;
    height: 500px;
  }
.gallerioverskrift{
  width: 50%;
  margin: 0 auto;
}

.galleriknap{
  background-color: $red;
  border: $red;
  margin:0 auto;
  display: none;
}

  .omosknap{
    background-color: $red;
    border: $red;
    margin: 0 auto;
  }



  .knap{
    padding: 8px;
    margin-top: 30px;
    background-color: $red;

  }

  .op{
    display: block;
  }

  .kontaktinfo{
    justify-content: space-between;
    margin-top: 75px;
  }

.kontaktcontain{
  width: 50%;
  margin: 0 auto;
  margin-top: 5px;
}

  h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    color: white;


  }

  h2{
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    color: white;

  }

  p{
    color: white;
    font-size: 11px;
    font-family: 'Nunito', sans-serif;

  }

  .logopng{
    display: block;

  }

  .some{
    display: none;
  }

}

@media print {
  // Alt der gælder for print specifikt
}